<div class="navigation-bar nav-space-between">

  <div class="nav-user-options">
    <%= button_to "Home", '/', class: "button-type-2", method: :get%>
  </div>
  
  <div class="nav-user-options">
    <%= button_to "Sign up", '/sign-up', class: "button-type-2", method: :get%>
    <%= button_to "Log in", '/log-in', class: "button-type-2", method: :get%>
  </div>
  
</div>
