/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  font-family: Rockwell, Verdana, Geneva, Tahoma, sans-serif;
}

.page-header {
  background-color: goldenrod;
  border-bottom: 3px solid black;
  text-align: center;
}

.page-header-image {
  padding: 0px 100px 0px 0px;
}

.current-user {
  padding: 0 10px;
  color: #222222;
}

.logo-icon {
  width: 75px;
  background-color: goldenrod;
  border-radius: 25px;
  padding: 5px;
  border: 1px solid #ccc;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color:rgb(0, 179, 255);
  border-bottom: 3px solid black;
  margin-bottom: 0px;
  padding: 5px 10px;
  text-align: right;
}

.nav-space-between {
  justify-content: space-between;
}

.nav-user-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-picture-on-navigation-bar {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: goldenrod;
}

.page-footer {
  background-color: goldenrod;
  border-bottom: 3px solid black;
  text-align: center;
  padding: 10px;
}

.page-footer-icon {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}
