// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.log-in-background {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: asset-url("pattern");
    background-position: center;
    background-repeat: no-repeat;
  }

  .sign-up-background {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: asset-url("pattern");
    background-position: center;
    background-repeat: no-repeat;
  }