// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sign-up-background {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-image: asset-url("pattern.png");
  background-position: center;
  background-repeat: no-repeat;
}

.sign-up-input {
  width: 96%;
  margin-bottom:5px;
}
.profile-picture-input {
  resize: vertical;
  height: 3rem;
}
