.background {
  height: 100%;
  width: 100%;
  background-image: url(https://pixabay.com/get/g00e6be5cf8c913db8cc4a047a702887eee96d3c2548b9583708aad7ca80986a343d6c582a300ce745354156c47904e92c5e61363fc97ab13dc69b5e5297091ab_1920.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.welcome-sign-up-button {
  font-size: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: crimson;
  color: goldenrod;
}

.welcome-sign-up-button:hover {
  background-color: goldenrod;
  color: indianred;
}

.sign-up-text {
  font-size: 30px;
  color: #ccc;
  background-color: rgba(236, 57, 57, 0.664);
  border-radius: 5px;
  padding: 20px;
}

.welcome-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
